*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

// font
body{
  background-color: #141414;
  color:#E5E5E5;
  font-family: "Noto Sans", sans-serif;
}
li{
  list-style: none;
}

img{
  max-width: 100%;
}

.icon{
  font-size: 20px;
}

.icon.x{
  font-size: small;
}

button{
  border: none;
  background-color:#141414 ;
  color: #E5E5E5;
}