@use './typography.scss' as *;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

// font
body{
  background-color: $primary-color;
  color:$secondary-color;
  font-family: $primary-font;
}


img{
  max-width: 100%;
  cursor: pointer;
}


button{
  border: none;
  background-color:$primary-color ;
  color: $secondary-color;
  cursor: pointer;
}

li{
  list-style: none;

  a{
    text-decoration: none;
    font-size: small;
  }
}


.icon{
  font-size: 20px;
  cursor:pointer;
}

span:hover{
  text-decoration: underline;
  cursor: pointer;
}